* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #dff1f1;
    height: 100%;
    width: 100%;
}

.header {
    background-color: white;
}

.box {
    background-color: rgba(245, 245, 245, 0.9);
    padding: 2%;
    margin: 2% auto;
    border-radius: 12px;
}

.message {
    background-color: rgba(245, 245, 245, 0.7);
    border: 2px solid whitesmoke;
    border-radius: 14px;
    width: 400px;
    padding: 1.5%;
    text-align: center;
    margin: 1% auto;
}

nav a {
    color: grey;
    transition: ease-in-out .3s;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

.table {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/*body {
    !*background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Библиотека_2_Astana_IT_University.jpg/1600px-Библиотека_2_Astana_IT_University.jpg);
    *!
    background-image: url(https://freefrontend.com/assets/img/css-checkboxes/animated-css3-checkbox.png);
    background-repeat: no-repeat;
    background-size: cover;

}*/

.form-style {
    display: flex;
    flex-direction: column;
    background-color: #869aa2e0;
    border-radius: 14px;
    width: 500px;
    padding: 4% 1%;
    margin: 20% auto;
}

.form-style input,
.form-style button,
.form-bth {
    width: 90%;
    margin: 0 auto;
}



@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

.courses-container {
}

.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    width: 500px;
    height: 350px;
    margin-left: 50px;
    margin-top: 150px;
}

.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.course-preview {
    background-color: #256274;
    color: #fff;
    padding: 20px;
}

.course-info {
    padding: 20px;
    position: relative;
    width: 100%;
}

.course-info h3{
    font-family: "Arial Rounded MT Bold";
    text-align: center;
}

.course-info p{
    text-align: center;
}

@media screen and (max-width: 480px) {

    .social-panel-container.visible {
        transform: translateX(0px);
    }

    .floating-btn {
        right: 10px;
    }
}