html,
body {
    background: whitesmoke no-repeat center;
}

.login-form {
    display: flex;
    flex-direction: column;
    border: 2px solid #433935;
    background-color: #256274;
    border-radius: 14px;
    width: 500px;
    padding: 2% 1.5%;
    margin: 1% auto;
}

.login-form input,
.login-form button {
    width: 90%;
    margin: 0 auto;
}