<html>
<head>
    <title>Title</title>
    <style>
        .footer {
            text-align: center;
            font-size: 17px;
            background-color: #76b852;
            position: fixed;
            Width: 100%;
            bottom: 0;
        }

    </style>
</head>

<div class="footer">
    <hr>
    <h2>Thanks for using!</h2>
    <p>Hope it will help you</p>
    <h4>Have some problems? Text me: <%=application.getInitParameter("AdministratorEmail")%></h4>
</div>

</body>
</html>