<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/signin.css">
    <link rel="stylesheet" href="/style/index.css">
    <style>
        .footer {
            text-align: center;
            font-size: 14px;
            margin-top: 150px;
            background-color: #256274;
            Width: 100%;
            bottom: 0;
        }
    </style>

</head>

<body>
    <header th:insert="blocks/header :: header"></header>

    <div sec:authorize="isAuthenticated()" class="container box" style="border: thick solid #256274">
        <h3 th:text='${"Full Name: "+#authentication.principal.fname+" "+#authentication.principal.lname}'></h3><br>
        <h3 th:text='${"Birth Date: "+#authentication.principal.born}'></h3><br>
        <a sec:authorize="hasAuthority('USER')" th:href="@{/user/update/profile}"><button class="btn btn-outline-dark">Edit</button></a>
        <a sec:authorize="hasAuthority('USER')" th:href="@{/user/update/password}"><button class="btn btn-outline-dark">Edit Password</button></a>

    </div>
    <br>
    <br>


</body>
<div class="footer">
    <hr>
    <h4>Thanks for using!</h4>
    <p>Have some comments? Contact us ... <br></p>
</div>
</html>