<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/signin.css">
    <link rel="stylesheet" href="/style/index.css">
</head>

<body>
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <form class="form-style" th:action="@{/user/update/password}" th:object="${user}" method="post">
            <h3 th:text='${"Change Password for User: " +#authentication.principal.fname+" "+#authentication.principal.lname}'></h3>
            <input type="password" class="form-control" th:field="*{password}" placeholder="password" name="password" /><br>
            <button type="submit" class="btn btn-outline-light">Edit pasword</button>
        </form>
    </div>
</body>

</html>