<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/signin.css">
    <link rel="stylesheet" href="/style/index.css">
</head>

<body style="background: none;">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <h4 class="text-center">All Users</h4>

        <div class="row">
            <table class="table table-info">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Born</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="el:${users}">
                        <!-- <td th:text="${el.id}"/> -->
                        <td th:text="${el.fname}" />
                        <td th:text="${el.lname}" />
                        <td th:text="${el.username}" />
                        <td th:text="${el.born.toString()}" />
                        <td>
                            <p th:each="rol:${el.roles}" th:text="${rol.name()}" />
                        </td>
                        <td><a th:href='${"/admin/users/"+el.id+"/update"}'><button class="btn btn-outline-dark">Update</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>