<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Votes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .footer {
            text-align: center;
            font-size: 14px;
            margin-top: 150px;
            background-color: #256274;
            Width: 100%;
            bottom: 0;
        }
    </style>
</head>

<body style="background: none;">

    <header th:insert="blocks/header :: header"></header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <main role="main">

        <div class="container">
            <form class="form-style" th:object="${vote}" th:action="@{/admin/votes/add}" method="post">
                <input class="form-control" th:field="*{questions}" required placeholder="question"><br>

                <button type="submit" class="btn btn-outline-light">Add</button><br>
            </form>
        </div>


        <div class="container">
            <div class="row">
                <table class="table table-info">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">Question</th>
                            <th scope="col">Answers</th>
                            <th scope="col">Info</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="el:${votes}">
                            <!--                        <th scope="row" th:text="${el.id}"/>-->
                            <!-- <th><a th:text="${el.id}" th:href="@{/admin/votes/}+${el.id}" /></th> -->
                            <td th:text="${el.questions}"></td>
                            <td>
                                <p th:each="answer:${el.answers}" th:text="${answer.answer}"></p>
                            </td>
                            <td><a th:href='${"/admin/votes/"+el.id}'><button class="btn btn-outline-dark">info</button></a></td>
                            <td><a th:href='${"/admin/votes/"+el.id+"/update"}'><button class="btn btn-outline-dark">edit</button></a></td>
                            <td><a th:href='${"/admin/votes/"+el.id+"/delete"}'><button class="btn btn-outline-dark">remove</button></a></td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </main>

    <div class="footer">
        <hr>
        <h4>Thanks for using!</h4>
        <p>Have some comments? Contact us ... <br></p>
    </div>
</body>

</html>