<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header d-flex flex-column-reverse  flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm">
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" class="mr-2" method="post">
                <input type="submit" class="btn btn-outline-dark" value="Sign out" />
            </form>
        </div>
        <nav class="my-0 mr-md-auto">
           <a class="  btn btn-outline-dark" href="/login">Login</a>
            <a sec:authorize="isAuthenticated()" class="p-2 text-dark" href="/profile">Profile</a>
            <a sec:authorize="isAuthenticated()" class="p-2 text-dark" href="/user/votes">Votes</a>
            <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/admin/users">Users</a>
            <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/admin/votes">Votes Control</a>
            <a sec:authorize="hasAuthority('ADMIN')" class="  btn btn-outline-dark" href="/reg">Register New User</a>

        </nav>

        <a style="text-decoration: none" href="/"><h5 class="my-2 my-md-0 mr-md-3" style="font-size: 30px" >Voting System</h5></a>
    </div>
</div>
